@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,600;0,700;1,400&family=Ubuntu:wght@400;500;700&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body
{
    background-color:#e6e1dc;
    color: black;
}

header
{   top: 0;
    display: flex;
    position: sticky;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background-color: rgb(58, 94, 253);
    box-shadow: 0 0 40px black;

}
nav {
    padding: 20px;
    font-size: 18px;
    font-weight: 500;
}
nav a {
    padding: 5px;
    text-decoration: none;
    color: #fff;
}
header a
{
    text-decoration: none;
    color: #fff;
    /* margin-left: 20px; */
    font-size: 16px;
    transition: color 0.3s ease;
}
header a:hover {
    color: #ecf0f1;
}
header a .logo{
    display: flex;
    align-items: center;
    font-size: 25px;
}
header a img{
    width: 40px;
    margin-right: 5px;
}
.menu-icon {
    display: none; /*Initially hide on larger screens*/
    flex-direction: column;
    cursor: pointer;

}
.menu-icon .bar {
    height: 2px;
    width: 20px;
    background-color: #fff;
    margin: 3px 0;
    transition: background-color 0.3s ease;
}
.menu-toggle>i{
    font-size: 1.5em;
    color: #fff;
}
.menu-toggle>i[name="menu-close"]{
    display: none;
}
.menu-toggle
{
    display: none;
}
.nav>ul
{
    text-decoration: none;
    list-style: none;
    padding: 20px;
}
.nav>ul>li>a
{
    text-decoration: none;
    list-style: none;
    color: #ece6e6;
}
.banner-container>.banner>.img>img{
    margin-top: 2px;
    width: 100%;
    height: auto;
}
.about_1
{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    justify-content: space-evenly;
    padding: 0px 0 0 ;
    margin: 70px 30px 0 0;
    text-align: justify;
    
}
.ab_txt{
    padding: 10px 30px;
}
.about_1>h1
{
    text-align: center;
}
.about_1>h2{
    text-align: left;
}
.about_1>p
{
    margin: 10px 10px 0 0;
    text-align: justify;
    font-size: 16px;
    margin: 0 10px;
}
.about_1>img
{
    width: 380px;
    height: 500px;
    margin: 20px 0px 0 100px;
    border-radius: 10px;
}
.gallery1
{
    margin-top: 50px;
    text-align: center;
    font-size: 32px;
}
.container
{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4,2fr);
    grid-gap: 10px;
    padding: 10px;
}
.img-slide>img
{
    width: 240px;
    height: 300px;
    border-radius: 10px;
}
.contact-page{
    text-align: center;
    margin-bottom: 0px;
}
.contact-page h1
{
    margin-top: 5%;
}
.contact-page p{
    margin-top: 20px;
}
.contact-cards{
    display: flex;
    width: 40%;
    justify-content: space-evenly;
    position: relative;
    top: 10%;
    left: 30%;
}
.contact-cards a{
    text-decoration: none;
    color: #000;
}
.contact-cards .whats-card{
    font-size: 80px;
    border: 1px solid;
    padding: 34px;
    border-radius: 15px;
    height: 150px;
    width: 150px;
}
.contact-cards .whats-card:hover{
    color: green;
}
.contact-cards .messanger-card{
    font-size: 80px;
    border: 1px solid;
    padding: 34px;
    border-radius: 15px;
    height: 150px;
    width: 150px;    
}
.contact-cards h2{
    padding: 20px 0;
}
/* footer section starts */
footer{
    background: #1a1818;
    height: 300px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: #fff;
}
.p3-box{
    margin: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.p3-box .logo{
    display: flex;
    text-align: center;
    align-items: center;
    padding-bottom: 5px;
}
.p3-box img{
    width: 50px;
    margin-right: 10px;
}
.about
{
    display: grid;
}
.about{
    bottom: 13%;
    position: relative;
}
.about>a{
    text-decoration: none;
    list-style: none;
    color: #fff;
}
.about>h4
{
    font-size: 23px;
}

.icons
{
    margin-top: 30px;
}
.icons h3{
    margin-bottom: 20px;
}
.icons>a
{
    padding: 5px 3px;
    text-decoration: none;
    color: #fff;
    font-size: 22px;
}

.con>#contact
{
    margin-bottom: 30px;
}
.about>h4
{
    margin-bottom: 30px;   
}

.copyright
{
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
}
/* footer section ends */
.form-container
{
    border: 1px solid #000;
    color: #000;
    width: 50vmax;
    height: auto;
    margin: 15px;
    position: relative;
    top: 50px;
    left: 310px;
}
.form-container>h1{
    margin-bottom: 50px;
    text-align: center;
}
form{
    width: 50vmax;
}
.form_input{
    /* border: 2px solid #000; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
}
input{
    border: 2px solid #000;
    width: 35vmax;
    height: 3.125rem;
    font-size: 14px;
    padding: 0 1.25em;
    margin: 4px;
    position: relative;
    align-items: right;
    border: 1px solid black;
    border-radius: 14px;
    outline: none;
}
@media (max-width: 425px){
    .p3-box{
        margin: 0px;
        display: inline-block;
    }
    .p3-box .logo{
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    .p3-box img{
        width: 50px;
        margin-right: 10px;
    }
    .copyright
    {
        position: relative;
        top: 0;
        width: 100%;
        text-align: center;
    }
    .icons
    {
        margin: 10px;
    }
    .icons h3{
        margin-bottom: 10px;
    }
    .icons a
    {
        padding: 0px 10px;
        text-decoration: none;
    }
    .about
    {
        display: grid;
        padding: 10px;
    }
    .about>h4
    {
        margin-bottom: 10px;   
    }
}
@media (max-width: 1024px) {
    header{
        width: 100%;
    }

}
@media (max-width: 768px) {
    .menu-icon {
      display: flex;
    }

    nav {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 70px; /*Adjust as needed*/
      left: 0;
      width: 100%;
      background-color: #3498db;
      padding: 10px;

    }
    nav a {
        margin: 10px 0;
      }

    nav.open {
      display: flex;
    }

    .menu-icon.open .bar {
        background-color: #3498db;
      } 
      
  }
  @media (max-width: 425px){
    header a img{
        width: 30px;
        margin-right: 5px;
    }
    
}